doctype html
html
  head 
    style.
      .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .producto {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
      }
      .btn-agregar {
        display: block;
        margin-top: 10px;
      }
      .oferta {
        position: relative;
        background: red;
        color: white;
        padding: 5px;
        top: -10px;
        left: -10px;
        
      }
      .producto img {
        max-width: 100%;
        height: auto;
        }
        #carrito {
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

    script(src="/js/script.js")
    script(src="/js/carrito.js")

  body
    h1 Tienda fake 
    #carrito
        <button onclick="abrirCarrito()">Abrir Carrito</button>
    .grilla
      each producto in productos 
        .producto 
          if producto.descuento
            .oferta Oferta
          h5= producto.title 
          p= producto.description.substring(0, 30) + "..."
          img(src=producto.image)
          if producto.descuento 
            h5 Precio con descuento: $ #{producto.precioDescontado.toFixed(2)}
            p Precio original: $ #{producto.price.toFixed(2)}
            p Descuento: #{producto.descuento}%
          else 
            h5 Precio: $ #{producto.price.toFixed(2)}
          button.btn-agregar(id=producto.id) Agregar
    