doctype html
html
  head 
    title Tienda
    link(rel='stylesheet' href='css/index.css')
  body
    nav
      h1 Tienda fake 
        #carrito
          a(href="carrito")
            img(src='img/carrito.png')
          span.acumulador.enlace 0
    .grilla
      each producto in productos 
        .producto 
          if producto.descuento
            .oferta Oferta
          h5.titulo-producto(data-title=producto.title)= producto.title 
          p= producto.description.substring(0, 30) + "..."
          img(src=producto.image)
          if producto.descuento 
            h5.precio(data-precio=producto.precioDescontado) Precio con descuento: $ #{producto.precioDescontado.toFixed(2)}
            p Precio original: $ #{producto.price.toFixed(2)}
            p Descuento: #{producto.descuento}%
          else 
            h5.precio(data-precio=producto.price) Precio: $ #{producto.price.toFixed(2)}
          div 
            button.boton-agregar(id=producto.id) Agregar
script(src="/js/script.js" defer)
    