doctype html
html
  head 
    style.
      .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .producto {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
      }
      .btn-agregar {
        display: block;
        margin-top: 10px;
      }
      .oferta {
        position: relative;
        background: red;
        color: white;
        padding: 5px;
        top: -10px;
        left: -10px;
        
      }
      .producto img {
        max-width: 100%;
        height: auto;
        }
        #carrito-icono {
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

        #contador-carrito {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: red;
            color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 12px;
            display: none;
        }

    script(src="/js/script.js")

  body
    h1 Tienda fake 
    #carrito-icono(onclick="abrirCarrito()")
        img(src="carrito.png", alt="Carrito de compras")
        .contador-carrito#contador-carrito(style="display: none") 0 
    .grilla
      each producto in productos 
        .producto 
          if producto.descuento
            .oferta Oferta
          h5= producto.title 
          p= producto.description.substring(0, 30) + "..."
          img(src=producto.image)
          if producto.descuento 
            h5 Precio con descuento: $ #{producto.precioDescontado.toFixed(2)}
            p Precio original: $ #{producto.price.toFixed(2)}
            p Descuento: #{producto.descuento}%
          else 
            h5 Precio: $ #{producto.price.toFixed(2)}
          button.btn-agregar(id=producto.id) Agregar
    script(src="/js/carrito.js")